nav{
    display: flex;
    justify-content: space-between;
}
.fixNav{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}